#main{
  display: flex;
}

#game_waiting{
  display: block;
}

#image_block{
  display: none;
}

#result_block{
  display: none;
}

#timer_block{
  display: none;
}

#final_block{
  display: none;
}

.rows{
  display: flex;
}